<?xml version="1.0" encoding="UTF-8"?>
<!--mybatis规范-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--settings(配置全局属性)-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签替换列别名 默认true-->
        <setting name="useColumnLabel" value="true"/>
        <!--开起驼峰命名转换：Table(creat_time)->Entity(creatTime)-->
        <setting name="mapUnderscoreToCameCase" value="true"/>

    </settings>

</configuration>